body {
    margin: 0 5%;
}

header {
    margin: 1.5em 0;
}

h1 {
    margin: 0.5em;

    text-align: center;
}

h2 {
    margin: 0.5em;

    text-align: center;
}

h2 a {
    text-decoration: none;
}

main {
    font-size: 1.5em;
}